spring:
  application:
    name: subscription-service

  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://localhost:8888}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8083
